{% extends 'base.html.twig' %}

{% block body %}
    <button type="button">FIGHT!</button>
    <form id="selection" method="POST" action="{{ path('addPlayers') }}">
        <input type="text" name="j1" placeholder="email joueur 1"/>
        <input type="text" name="j2" placeholder="email joueur 2"/>
        <input type="text" name="j3" placeholder="email joueur 3"/>
        <input type="text" name="j4" placeholder="email joueur 4"/>
        <input type="submit" Value="Valider"/>
    </form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="{{ asset('./script/script.js') }}"></script>
{% endblock %}