
/* 
    Created on : 9 févr. 2017, 12:25:08
    Author     : paul-maillard
*/

body {
    visibility: hidden;
}

button {
    position: relative;
    border-radius : 10px;
    background-color: rgba(200,15,8,0.7);
    width: 300px;
    height: 100px;
    font-size: 4em;
    color: #fff;
}

#selection {
    display: none;
    position: relative;
    width: 300px;
    box-sizing: border-box;
}

#selection > input{
    width: 100%;
    background-color: rgba(200,15,8,0.7);
}

#selection > input[type='text']{
    margin-bottom: 10px;
    background-color: #fff;
    border: 0px;
    border-bottom: 2px solid #444;
}